.UpdateFormModal {
	padding: var(--medium-indent);
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.title {
		margin-bottom: 20px;
	}

	.submitButton {
		height: 40px;
		width: 100%;
		margin-bottom: 10px;
	}

	.resetButton {
		height: 40px;
		width: 100%;
		background-color: #fff;
		border: 1px solid var(--mid-gray-bg-color);
		color: #000;

		&:disabled {
			background-color: var(--mid-gray-bg-color);
			color: #fff;
		}
	}

	.removeButton {
		height: 40px;
		width: 100%;
		background-color: var(--red-color);
		color: #fff;

		&:disabled {
			background-color: var(--mid-gray-bg-color);
			color: #fff;
		}

		&:hover {
			background-color: #c63027;
		}
	}

	.error {
		margin-bottom: var(--medium-indent);
	}
}